@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');


alert{
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.header{
    display: flex;
    flex-direction: row;
}

.corner-menu{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
}

.login-div{
    display: flex;
    margin-right:5px; 
    flex-direction: row;
}

.signup-login-div{
    margin:5px; 
    display: flex;
    flex-direction: column;
}


.top-heading{
    display: flex;
    flex-direction: row;
}

h3{
    font-family: 'Roboto Mono', monospace;
    margin: 5px;
}

.comment-box-class{
    margin: 20px;
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans Narrow', sans-serif;
}

.img{
    background-color:rgb(201, 215, 245);
    margin-top: 10px;
    min-height:30px;
    max-height:30px;
    min-width:30px;
    max-width:30px;
}

.information{
    display: flex;
    flex-direction: column;
}

.row1{
    margin: 0 0 0 1em;
    display: flex;
    flex-direction: row;
}

.name{
    margin: 5px 5px 5px 0px;
}

.name:hover{
    color:rgba(87, 78, 78, 0.87);
}

.time_ago{
    color: rgba(0,0,0,.4);
    margin: 5px;
}

.posted_ago{
    color: rgba(0,0,0,.4);
}

.row2{
    margin: 0 0 0 1em;
    height: auto;
    max-width: 30rem;
}

.row3{
    margin: 0 0 0 1em;
    display: flex;
    flex-direction: row;
}

.reply > a{
    color: rgba(0,0,0,.4);
    margin: 0 0 0 0em;
}

.reply > a:hover{
    color: black;
}

.vote{
    margin: 0 0 0 1em;
    display: flex;
    flex-direction: row;
}

.like, .dislike{    
    margin-right: 0.5em;
    margin-left: 0.5em;
    color: rgba(17, 12, 12, 0.4);
}

.like:hover,.dislike:hover{
    color: black;
}

#fetch-like,#fetch-dislike{
    display: flex;
    flex-direction: row;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.fetch-like-count, .fetch-dislike-count{
    margin-right: 0.5em;
    margin-left: 0.5em;
}



.new-message{
    display: flex;
    flex-direction: column;
}


.message-box{
    display: flex;
    flex-direction: column;
}

.input-field{
    margin: 0 0 0 1em;
    text-decoration: none;
    border-style: solid 1px black; 
    width: 550px;
    height: 10rem;
    resize: vertical;
}


 @media screen and (max-width: 600px) {
.input-field{
    width: 80vw; 
} 

.row2{
    margin: 0 0 0 1em;
    height: auto;
    max-width: 30rem;
}

}

.submit-btn{
    margin: 1em 1em 1em 2em;
}


.btn 
{
	border-radius: 6px;
	background-color: #2185d0;
    border: none;
    color: white;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 14px;
}
  
.btn span 
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.1s;
}
  
.btn span:after 
{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
  
.btn:hover span 
{
	padding-right: 25px;
}
  
.btn:hover span:after {
	opacity: 1;
	right: 0;
}


/* pop -up for login */
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
}

/* Set a style for all buttons */
.button_other {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
	font-size:20px;
}
.button_other:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
	height:200px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}


/************************ sidenav bar **************************/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a,.sidenav button{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover ,.sidenav button{
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a,.sidenav button {font-size: 18px;}

}



@media screen and (max-width: 700px) {

    .modal-content{
        width: 90%;
    }
}
