@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');


.top-heading{
    display: flex;
    flex-direction: row;
}

h3{
    font-family: 'Roboto Mono', monospace;
    margin: 5px;
}

.comment-box{
    margin: 20px;
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans Narrow', sans-serif;
}

.img{
    min-height:50px;
    max-height:50px;
    min-width:50px;
    max-width:50px;
}

.information{
    display: flex;
    flex-direction: column;
}

.row1{
    margin: 0 0 0 1em;
    display: flex;
    flex-direction: row;
}

.name{
    margin: 5px 5px 5px 0px;
}

.name:hover{
    color:rgba(87, 78, 78, 0.87);
}

.time_ago{
    color: rgba(0,0,0,.4);
    margin: 5px;
}

.row2{
    margin: 0 0 0 1em;
    height: auto;
    max-width: 750px;
    width: auto;
}

.row3{
    margin: 0 0 0 1em;
    display: flex;
    flex-direction: row;
}

.reply{
    color: rgba(0,0,0,.4);
    margin: 0 0 0 0em;
}

.vote{
    margin: 0 0 0 1em;
    display: flex;
    flex-direction: row;
}

.like, .dislike{
    margin: 0 0 0 1em;
}